In [5]:
import pandas as pd
import math
import requests
import numpy as np
from datetime import datetime, timedelta
from random import choices
import pandas_market_calendars as mcal
import matplotlib.pyplot as plt
import yfinance as yf

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

%matplotlib inline

In [2]:
def get_stock_table(url = 'https://iocalc.com/api:gPr_YnZX/getstocks'):
    response = requests.get(url)

    stock_table = pd.json_normalize(response.json()['stocks'])

    return(stock_table)

In [6]:
CMCSA = yf.Ticker("CMCSA")

In [7]:
CMCSA

yfinance.Ticker object <CMCSA>

In [32]:
# get stock info
CMCSA_info = CMCSA.info
CMCSA_info

{'zip': '19103-2838',
 'sector': 'Communication Services',
 'fullTimeEmployees': 189000,
 'longBusinessSummary': "Comcast Corporation operates as a media and technology company worldwide. It operates through Cable Communications, Media, Studios, Theme Parks, and Sky segments. The Cable Communications segment offers broadband, video, voice, wireless, and other services to residential and business customers under the Xfinity brand; and advertising services. The Media segment operates NBCUniversal's television and streaming platforms, including national, regional, and international cable networks, the NBC and Telemundo broadcast, and Peacock networks. The Studios segment operates NBCUniversal's film and television studio production and distribution operations. The Theme Parks segment operates Universal theme parks in Orlando, Florida; Hollywood, California; Osaka, Japan; and Beijing, China. The Sky segment offers direct-to-consumer services, such as video, broadband, voice and wireless phone services, and content business operates entertainment networks, the Sky News broadcast network, and Sky Sports networks. The company also owns the Philadelphia Flyers, as well as the Wells Fargo Center arena in Philadelphia, Pennsylvania; and provides streaming service, such as Peacock. Comcast Corporation was founded in 1963 and is headquartered in Philadelphia, Pennsylvania.",
 'city': 'Philadelphia',
 'phone': '215 286 1700',
 'state': 'PA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://corporate.comcast.com',
 'maxAge': 1,
 'address1': 'One Comcast Center',
 'industry': 'Telecom Services',
 'address2': '1701 John F. Kennedy Boulevard',
 'ebitdaMargins': 0.30398,
 'profitMargins': 0.04458,
 'grossMargins': 0.68413,
 'operatingCashflow': 28219000832,
 'revenueGrowth': -0.015,
 'operatingMargins': 0.18905,
 'ebitda': 36845998080,
 'targetLowPrice': 29,
 'recommendationKey': 'buy',
 'grossProfits': 77935000000,
 'freeCashflow': 11324624896,
 'targetMedianPrice': 41.5,
 'currentPrice': 36,
 'earningsGrowth': None,
 'currentRatio': 0.836,
 'returnOnAssets': 0.05391,
 'numberOfAnalystOpinions': 32,
 'targetMeanPrice': 42.7,
 'debtToEquity': 120.015,
 'returnOnEquity': 0.05618,
 'targetHighPrice': 70,
 'totalCash': 5695000064,
 'totalDebt': 97622999040,
 'totalRevenue': 121210003456,
 'totalCashPerShare': 1.317,
 'financialCurrency': 'USD',
 'revenuePerShare': 27.08,
 'quickRatio': 0.629,
 'recommendationMean': 2.4,
 'exchange': 'NMS',
 'shortName': 'Comcast Corporation',
 'longName': 'Comcast Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'CMCSA',
 'messageBoardId': 'finmb_173341',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 2.07,
 'beta3Year': None,
 'enterpriseToEbitda': 6.808,
 '52WeekChange': -0.2380656,
 'morningStarRiskRating': None,
 'forwardEps': 3.75,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4313959936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 18.572,
 'sharesShort': 71212688,
 'sharesPercentSharesOut': 0.0165,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.85630995,
 'netIncomeToCommon': 5404000256,
 'trailingEps': 1.18,
 'lastDividendValue': 0.27,
 'SandP52WeekChange': -0.14654392,
 'priceToBook': 1.9384018,
 'heldPercentInsiders': 0.00708,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 2.98,
 'sharesShortPreviousMonthDate': 1667174400,
 'floatShares': 4282768652,
 'beta': 1.014727,
 'enterpriseValue': 250864877568,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1487635200,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1664841600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 1.2840751,
 'dateShortInterest': 1669766400,
 'pegRatio': 1.14,
 'ytdReturn': None,
 'forwardPE': 9.6,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0166,
 'sharesShortPriorMonth': 73600479,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 36.71,
 'regularMarketOpen': 34.87,
 'twoHundredDayAverage': 38.94055,
 'trailingAnnualDividendYield': 0.028874965,
 'payoutRatio': 0.8983,
 'volume24Hr': None,
 'regularMarketDayHigh': 36.075,
 'navPrice': None,
 'averageDailyVolume10Day': 25512760,
 'regularMarketPreviousClose': 36.71,
 'fiftyDayAverage': 32.715,
 'trailingAnnualDividendRate': 1.06,
 'open': 34.87,
 'toCurrency': None,
 'averageVolume10days': 25512760,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 1.08,
 'exDividendDate': 1672704000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 34.75,
 'currency': 'USD',
 'trailingPE': 30.508476,
 'regularMarketVolume': 7311340,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 155642757120,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 27400342,
 'dayLow': 34.75,
 'ask': 35.91,
 'askSize': 900,
 'volume': 7311340,
 'fiftyTwoWeekHigh': 52.1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2.03,
 'fiftyTwoWeekLow': 28.39,
 'bid': 35.9,
 'tradeable': False,
 'dividendYield': 0.0296,
 'bidSize': 1100,
 'dayHigh': 36.075,
 'coinMarketCapLink': None,
 'regularMarketPrice': 36,
 'preMarketPrice': 34.74,
 'logo_url': 'https://logo.clearbit.com/corporate.comcast.com',
 'trailingPegRatio': 0.731}

In [21]:
# show financials
CMCSA_fin = CMCSA.financials
CMCSA_fin

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,19093000000.0,14065000000.0,16996000000.0,15242000000.0
Minority Interest,1917000000.0,2695000000.0,2520000000.0,2205000000.0
Net Income,14159000000.0,10534000000.0,13057000000.0,11731000000.0
Selling General Administrative,43314000000.0,39850000000.0,40424000000.0,34791000000.0
Gross Profit,77935000000.0,70443000000.0,74502000000.0,64815000000.0
Ebit,20817000000.0,17493000000.0,21125000000.0,19148000000.0
Operating Income,20817000000.0,17493000000.0,21125000000.0,19148000000.0
Other Operating Expenses,NaN,NaN,NaN,-141000000.0
Interest Expense,-4281000000.0,-4588000000.0,-4567000000.0,-3542000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,5259000000.0,3364000000.0,3673000000.0,3380000000.0
Total Revenue,116385000000.0,103564000000.0,108942000000.0,94507000000.0
Total Operating Expenses,95568000000.0,86071000000.0,87817000000.0,75359000000.0
Cost Of Revenue,38450000000.0,33121000000.0,34440000000.0,29692000000.0
Total Other Income Expense Net,-1724000000.0,-3428000000.0,-4129000000.0,-3906000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,13834000000.0,10701000000.0,13323000000.0,11862000000.0
Net Income Applicable To Common Shares,14159000000.0,10534000000.0,13057000000.0,11731000000.0

In [17]:
earnings = CMCSA_fin.loc['Income Before Tax'] - CMCSA_fin.loc['Income Tax Expense']
earnings

2021-12-31    13834000000.0
2020-12-31    10701000000.0
2019-12-31    13323000000.0
2018-12-31    11862000000.0
dtype: object

In [19]:
profit_margin = earnings / CMCSA_fin.loc['Total Revenue']
profit_margin

2021-12-31    0.118864
2020-12-31    0.103327
2019-12-31    0.122294
2018-12-31    0.125515
dtype: object

In [15]:
CMCSA.quarterly_financials

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-3652000000.0,4502000000.0,4764000000.0,3886000000.0
Minority Interest,1046000000.0,1645000000.0,1813000000.0,1917000000.0
Net Income,-4598000000.0,3396000000.0,3549000000.0,3057000000.0
Selling General Administrative,11410000000.0,11294000000.0,11322000000.0,12053000000.0
Gross Profit,20900000000.0,21129000000.0,20440000000.0,20456000000.0
Ebit,6157000000.0,6367000000.0,5570000000.0,4821000000.0
Operating Income,6157000000.0,6367000000.0,5570000000.0,4821000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-960000000.0,-968000000.0,-993000000.0,-1120000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1014000000.0,1261000000.0,1288000000.0,905000000.0
Total Revenue,29849000000.0,30016000000.0,31010000000.0,30336000000.0
Total Operating Expenses,23692000000.0,23649000000.0,25440000000.0,25515000000.0
Cost Of Revenue,8949000000.0,8887000000.0,10570000000.0,9880000000.0
Total Other Income Expense Net,-9809000000.0,-1865000000.0,-806000000.0,-935000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,-4666000000.0,3241000000.0,3476000000.0,2981000000.0
Net Income Applicable To Common Shares,-4598000000.0,3396000000.0,3549000000.0,3057000000.0

In [23]:
# show balance sheet
CMCSA_bs = CMCSA.balance_sheet
CMCSA_bs

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,9.294500e+10,9.475400e+10,9.549300e+10,9.772300e+10
Capital Surplus,4.017300e+10,3.946400e+10,3.844700e+10,3.746100e+10
Total Liab,1.778960e+11,1.808510e+11,1.781680e+11,1.778660e+11
Total Stockholder Equity,9.609200e+10,9.032300e+10,8.272600e+10,7.161300e+10
Minority Interest,1.917000e+09,2.695000e+09,2.520000e+09,2.205000e+09
Deferred Long Term Liab,1.094000e+09,1.060000e+09,1.083000e+09,9.910000e+08
Other Current Liab,4.862000e+09,4.669000e+09,6.198000e+09,3.990000e+09
Total Assets,2.759050e+11,2.738690e+11,2.634140e+11,2.516840e+11
Common Stock,5.400000e+07,5.400000e+07,5.400000e+07,5.400000e+07
Other Current Assets,4.088000e+09,3.535000e+09,7.000000e+09,6.930000e+09
Retained Earnings,6.190200e+10,5.643800e+10,5.069500e+10,4.198300e+10
Other Liab,4.418700e+10,4.253300e+10,4.105400e+10,4.291800e+10
Good Will,7.018900e+10,7.066900e+10,6.872500e+10,6.615400e+10
Gains Losses Not Affecting Retained Earnings,-6.037000e+09,-5.633000e+09,-6.470000e+09,-7.885000e+09
Other Assets,1.936800e+10,1.810600e+10,1.445500e+10,1.363900e+10
Cash,8.711000e+09,1.174000e+10,5.500000e+09,3.814000e+09
Total Current Liabilities,2.934800e+10,2.879600e+10,3.029200e+10,2.760300e+10
Short Long Term Debt,2.132000e+09,3.146000e+09,4.452000e+09,4.398000e+09
Other Stockholder Equity,1.480000e+09,1.884000e+09,1.047000e+09,-3.680000e+08
Property Plant Equipment,6.051400e+10,5.577900e+10,5.236000e+10,4.443700e+10
Total Current Assets,2.480700e+10,2.674100e+10,2.539200e+10,2.184800e+10
Long Term Investments,8.082000e+09,7.820000e+09,6.989000e+09,7.883000e+09
Net Tangible Assets,-6.704200e+10,-7.510000e+10,-8.149200e+10,-9.226400e+10
Net Receivables,1.200800e+10,1.146600e+10,1.129200e+10,1.110400e+10
Long Term Debt,9.617500e+10,1.045210e+11,1.029310e+11,1.073450e+11
Accounts Payable,1.245500e+10,1.136400e+10,1.082600e+10,8.494000e+09
Short Term Investments,NaN,NaN,1.600000e+09,NaN

In [24]:
inv_cap = (CMCSA_bs.loc['Total Stockholder Equity'] + 
           CMCSA_bs.loc['Short Long Term Debt'] + 
           CMCSA_bs.loc['Long Term Debt'])
inv_cap

2021-12-31    1.943990e+11
2020-12-31    1.979900e+11
2019-12-31    1.901090e+11
2018-12-31    1.833560e+11
dtype: float64

In [26]:
return_on_capital = earnings / inv_cap
return_on_capital

2021-12-31    0.071163
2020-12-31    0.054048
2019-12-31    0.070081
2018-12-31    0.064694
dtype: object

In [30]:
earnings_growth_rate = earnings / earnings.shift(-1)
earnings_growth_rate

2021-12-31    1.292776
2020-12-31    0.803197
2019-12-31    1.123166
2018-12-31         NaN
dtype: object

In [34]:
earnings_yeild = earnings / CMCSA_info['marketCap']
earnings_yeild

2021-12-31    0.088883
2020-12-31    0.068754
2019-12-31      0.0856
2018-12-31    0.076213
dtype: object

In [39]:
tmp = pd.DataFrame({'symbol': 'CMCSA',
                        'earnings': earnings[0],
                        'Investment Capital': inv_cap[0],
                        'Profit Margin': profit_margin[0],
                        'Return on Capital': return_on_capital[0],
                        'Earnings Growth Rate': earnings_growth_rate[0],
                        'Earnings Yield': earnings_yeild[0]},
                  index = [0])

tmp

,symbol,earnings,Investment Capital,Profit Margin,Return on Capital,Earnings Growth Rate,Earnings Yield
0,CMCSA,1.383400e+10,1.943990e+11,0.118864,0.071163,1.292776,0.088883

In [31]:
# get historical market data
hist = CMCSA.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.071825,0.068769,0.068769,138396,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.071825,0.068769,0.068769,530518,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.071061,0.068004,0.068004,738113,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.076410,0.073353,0.073353,1360895,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.078702,0.075646,0.075646,461320,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-08 00:00:00-05:00,34.599998,35.139999,34.380001,34.970001,17995500,0.0,0.0
2022-12-09 00:00:00-05:00,34.980000,35.770000,34.799999,35.320000,18016900,0.0,0.0
2022-12-12 00:00:00-05:00,35.540001,36.570000,35.450001,36.520000,29169100,0.0,0.0
2022-12-13 00:00:00-05:00,37.459999,37.880001,36.490002,36.709999,28357000,0.0,0.0
2022-12-14 00:00:00-05:00,34.869999,36.209999,34.750000,36.020000,9861054,0.0,0.0

In [47]:
all_dat = pd.DataFrame()

for symbol in stock_table['symbol']:
    tick = yf.Ticker(symbol)
    
    tick_info = tick.info
    tick_fin = tick.financials
    tick_bs = tick.balance_sheet
    
    if tick_fin.shape[0] == 0:
        continue
    
    earnings = (tick_fin.loc['Income Before Tax'] - 
                tick_fin.loc['Income Tax Expense'])
    
    inv_cap = (tick_bs.loc['Total Stockholder Equity'] + 
               # tick_bs.loc['Short Long Term Debt'] + 
               tick_bs.loc['Long Term Debt'])
    
    try:
        profit_margin = (earnings / 
                         tick_fin.loc['Total Revenue'])
    except ZeroDivisionError:
        profit_margin = -1
    
    return_on_capital = earnings / inv_cap
    
    earnings_growth_rate = earnings / earnings.shift(-1)
    
    earnings_yeild = earnings / tick_info['marketCap']
    
    tmp = pd.DataFrame({'symbol': 'CMCSA',
                        'earnings': earnings[0],
                        'Investment Capital': inv_cap[0],
                        'Profit Margin': profit_margin[0],
                        'Return on Capital': return_on_capital[0],
                        'Earnings Growth Rate': earnings_growth_rate[0],
                        'Earnings Yield': earnings_yeild[0]},
                       index = [0])
    
    all_dat = pd.concat([all_dat, tmp], axis = 0, ignore_index = True)
    
all_dat

TypeError: 'float' object is not callable

In [46]:
tick_fin

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,286857000.0,21052000.0,6962000.0,1939000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,-471341000.0,-130004000.0,-10879000.0,-3431000.0
Minority Interest,None,None,None,None
Net Income,-471341000.0,-130004000.0,-10879000.0,-3431000.0
Selling General Administrative,42413000.0,20772000.0,3626000.0,1476000.0
Gross Profit,18000.0,0.0,0.0,0.0
Ebit,-329252000.0,-41824000.0,-10588000.0,-3415000.0
Operating Income,-329252000.0,-41824000.0,-10588000.0,-3415000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-6546000.0,-1610000.0,-179000.0,-1000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,0.0,0.0,0.0,0.0
Total Revenue,106000.0,0.0,0.0,0.0
Total Operating Expenses,329358000.0,41824000.0,10588000.0,3415000.0
Cost Of Revenue,88000.0,0.0,0.0,0.0
Total Other Income Expense Net,-142089000.0,-88180000.0,-291000.0,-16000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,-471341000.0,-130004000.0,-10879000.0,-3431000.0
Net Income Applicable To Common Shares,-471341000.0,-130004000.0,-10879000.0,-4653000.0